.foto {
    position: relative;
  left: center  ;
  top: 20.5px;
   border-radius: 50% solid #fff;
   background: #26311c  no-repeat center top /
    cover;
  height: 180px;
}

.main_info {
    font-size: 19px;
     position: relative;
  left: 20px;
  top: 20.5px;
}